.conversor{
    padding: 20px;
    max-width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    background: rgb(31, 124, 31);
    text-align: center;
    
}

h2, input {
    background-color: rgb(255, 255, 255);
}